
* {
    box-sizing: border-box;
}
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: gray;
    position: relative;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
}

.contenedor {
    position: absolute;
    left: 50%;
    margin: 20px 0 0 -170px;
    box-shadow: 1px 2px 27px #676767, -1px -2px 3px #525252;
}

.contenedor-resultado {
    border: 1px solid #151313;
    background: #211e1e;
    padding: 20px;
    font-size: 32px;
    width: 350px;
    padding-right: 22px;
    text-align: right;
    color: #ffffff;
}

.elemento-resultado {
    font-size: 32px;
}

.botones-contenedor {
    width: 350px;
    display: flex;
    flex-flow: row nowrap;
}

.numeros-contenedor {
    width: 250px;
    display: flex;
    flex: 1 1 auto;
    flex-flow: row wrap;
}

.numeros-contenedor-in {
    flex: 1 1 auto;
    display: flex;
    flex-flow: row wrap;
}

.operador-contenedor {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column nowrap;
}

.lista-numero,
.operador-valor {
    flex: 1 1 auto;
    padding: 30px;
    color: white;
    font-size: 26px !important;
    border: 1px solid #1e2123;
    background: #222427;
}

.operador-valor {
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.lista-numero:hover,
.operador-valor:hover {
    background: #1b1c1d;
    cursor: pointer;
}

.cerrar-btn {
    background: #d20000;
    font-size: 29px;
    margin-right: -7px;
    border: 1px solid #a70100;
    border-radius: 2px;
    color: #ffffff;
}

.resultado-boton {
    background: orange;
    width: 350px;
    font-size: 25px;
    color: white;
    padding: 10px;
    font-weight: bold;
    transition: background 0.35s ease;
}

.resultado-boton:hover,
.resultado-boton:focus {
    background: orange;
}